*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.logo{
    width: 100px;
}
.navbar{
    background-image: url("../img/luna.jpg");
    background-position: right;
    background-size: cover;
}
.btn-nav{
    background-color: #a71616;
    color: white;
}
.btn-nav:hover{
    background-color: white;
}

.btn-nav:focus{
    background-color: #a71616be;
}

.nav-link{
    text-shadow: -3px 7px 9px rgba(37, 35, 35, 0.89);
    
}

.nav-link:hover{
    color:#a71616be;
}

.baner{

    background-position: center;
    background-size: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baner{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
0%{
    opacity: 0%;
}

100%{
    opacity: 100%;
}
}

.titulo-baner{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.parrafo-baner{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.main{
    background-color: #BFA5A3;
}

.post{
    background-color: white;
    text-align: center;


}

.footer{
    background-image: linear-gradient(to top, #272829, #575758, #8b8b8c, #c4c4c4, #ffffff);
    height: 80px;


}
.social{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.fa-brands{
text-decoration: none;
margin: 10px;
font-size: 40px;
color: #a71616e0;
}

.fa-brands:hover{
    font-size: 50px;
}

/*Estilos de Productos */

.card--centrado{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/*Estilos de nosotros */
.main--nosotros{
height: 100vh;
background-image:url("../img/fondo-nosotros.jpg");
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.nosotros{
    background-color: #2728297e;
    height: 405px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
}

.nosotros__titulo{
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.91);
    margin-top: 20px;
}

.nosotros__parrafo{
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.91);
    font-size: 17px;
}

/*Estilos de Contacto */

.Contacto{
    background-color: #2728297e;
    height: 380px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    color: rgba(255, 255, 255, 0.91);
}

.btn--color{
    background-color: #a71616;
    color: white;
}

.btn--color:hover{
    background-color: #a7161685;
}

.btn--color:focus{
    background-color: #a71616be;
}

/* Estilos Ayuda */

.main--ayuda{
    
    background-image:url("../img/fondo-nosotros.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }


.consultas{
   height: 100vh;
   /* overflow: auto; */
}
.consultas__titulo{
    margin: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-shadow: -3px 7px 9px rgba(37, 35, 35, 0.89);
}

.Consultas__subtitulo{
    font-size: 20px;
}

.consultas__frecuentes{

    /* display: flex;
    flex-direction: column; */
    background-color: #2728295e;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    text-shadow: -3px 7px 9px rgba(37, 35, 35, 0.89);
}

.fa-circle-question{
    font-size: 25px;
}
.consultas__color{
    color: rgba(255, 255, 255, 0.91);
}

@media (max-width: 610px){
    .consultas{
        height: 100vh;
        overflow: auto;
        }
}

