*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.logo{
    width: 100px;
}
.navbar{
    background-image: url("../img/fondo-luna.jpg");
    background-position: center;
    background-size: cover;
}
.btn-nav{
    background-color: #a71616;
    color: white;
}
.btn-nav:hover{
    background-color: white;
}

.btn-nav:focus{
    background-color: #a71616be;
}

.nav-link{
    text-shadow: -3px 7px 9px rgba(37, 35, 35, 0.89);
    
}

.main{
    background-color: #BFA5A3;
    width: 100%;
}
    

